PORT=3000
DB_URL=mongodb+srv://<username>:<password>@cluster0.iaoyvyx.mongodb.net/<FakestNews>?retryWrites=true&w=majority&appName=Cluster0
OPENWEATHER_API_KEY=<your_openweathermap_api_key>
WEATHER_CITY=Tel Aviv,IL
